body {
    background-color: #000000;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: 'VCR OSD Mono';
	src: url('VCROSDMono.eot');
	src: url('VCROSDMono.eot?#iefix') format('embedded-opentype'),
		url('VCROSDMono.woff') format('woff'),
		url('VCROSDMono.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

a {
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: 'VCR OSD MONO';
    color: #FFFFFF;
}

#newthread {
    font-size: 30px;
}

a:hover {
    text-decoration: underline;
}

#redtext {
    color: #772C3B;
    font-size: 15px;
    font-family: 'VCR OSD MONO';
}

div{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sitecorner {
    border-radius: 25px;
    border: 2px solid #FFFFFF;
    padding: 20px;
    width: 395px;
    height: auto;
}

textarea {
    resize: none;
    width: 395px;
} 

#title {
    font-size: 30px;
    color: #FFFFFF;
    font-family: 'VCR OSD MONO';
}

#comment {
    font-size: 15px;
    color: #FFFFFF;
    font-family: 'VCR OSD MONO';
}