body {
    background-color: #000000;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
    padding-bottom: 15px;   
}

@font-face {
    font-family: 'Munro';
	src: url('Munro.eot');
	src: url('Munro.eot?#iefix') format('embedded-opentype'),
		url('Munro.woff') format('woff'),
		url('Munro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

a {
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: 'Munro';
    font-size: 24px;
    color: #FFFFFF;
}

#newthread {
    font-size: 30px;
}

a:hover {
    text-decoration: underline;
}

#redtext {
    color: #772C3B;
    font-size: 24px;
    font-family: 'Munro';
}

div{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sitecorner {
    border-radius: 25px;
    border: 2px solid #FFFFFF;
    padding: 20px;
    width: 395px;
    height: auto;
}

textarea {
    resize: none;
    width: 395px;
} 

#title {
    font-size: 30px;
    color: #FFFFFF;
    font-family: 'Munro';
    font-weight: 900;
    padding-bottom: 15px;
}

#comment {
    font-size: 24px;
    color: #FFFFFF;
    font-family: 'Munro';
}